<ng-container *ngIf="this.loggedIn()">
  <header class="top-nav">
    <a routerLink="/posts"
      ><img class="logo" src="/assets/img/logo.png" alt="logo"
    /></a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/update-user-info">
        User Settings
      </button>
      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
  </header>

  <nav>
    <li class="nav-link-wrapper">
      <a routerLink="/posts"> Posts </a>
    </li>
    <li class="nav-link-wrapper">
      <a routerLink="/groups"> Groups </a>
    </li>
  </nav>
</ng-container>
