header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #673ab7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 60px;
  overflow-y: auto;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

li {
  list-style: none;
  margin-right: 20px;
  transition-duration: 0.4s;
  padding: 10px;
  margin: 5px;
}
li:hover {
  background-color: #673ab7;;
  border-radius: 5px;
}

.logo {
  width: 80px;
  height: 60px;
}
