header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-top: 60px;
  overflow-y: auto;
}

a {
  color: white;
  font-size: 18px
}

nav a:hover {
  background-color: mediumseagreen;
  border-radius: 5px;
  color: black;
}
li {
  list-style: none;
  padding: 5px;
  margin-right: 20px;
}

.logo {
  width: 80px;
  height: 60px;
}
