<header *ngIf="isAuthenticated" class="top-nav" >
  <!--  -->
      <a routerLink="/posts"
      ><img class="logo" src="/assets/img/logo.png" alt="logo"
    /></a>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/update-user-info">
        User Settings
      </button>
      <button mat-menu-item (click)="logout()">Log Out</button>
    </mat-menu>
</header>

  <div *ngIf="isAuthenticated" class="navbar">
    <nav mat-tab-nav-bar >

      <a routerLink={{link}} mat-tab-link *ngFor="let link of links"
      (click)="activeLink = link"
      [active]="activeLink == link"> {{link}} </a>

    </nav>
  </div>

