<div id="userInfo_container">
  <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()"  id="user_info" >
    <div>
      <label class="userInfo-form-item userInfo-label" for="firstname"
        >First Name</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="firstname"
        type="text"
        name="firstname"
        formControlName="firstname"

      />

      <label class="userInfo-form-item userInfo-label" for="lastname"
        >Last Name</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_lastname"
        type="text"
        name="lastname"
        formControlName="lastname"
      />

      <label class="userInfo-form-item userInfo-label" for="username"
        >Username</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_username"
        type="text"
        name="username"
        formControlName="username"
      />
      <p class="help-block" *ngIf="userInfoForm.get('username')?.errors?.['maxlength'] || userInfoForm.get('username')?.errors?.['minlength'] && userInfoForm.get('username')?.touched"
      > *username must contain min. 3 and max. 24 characters</p
      >
      <p
        class="help-block"
        *ngIf="userInfoForm.get('username')?.errors?.['required'] && userInfoForm.get('username')?.touched"
        >*username is required!</p
      >
      <p
        class="help-block"
        *ngIf="
        userInfoForm.get('username')?.hasError('usernameTaken') &&
        userInfoForm.get('username')?.touched && !resetClicked && userInfoForm.get('username')?.value !== username
        "
      >
        *this username already exist</p
      >

      <label class="userInfo-form-item userInfo-label" for="email">Email</label>
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_email"
        type="email"
        name="email"
        formControlName="email"
      />
      <p
      class="help-block"
      *ngIf="
        userInfoForm.get('email')?.hasError('emailUsed') &&
        userInfoForm.get('email')?.touched && !resetClicked && userInfoForm.get('email')?.value !== email
      "
    >
      *this email already registered</p
    >
    <p
      class="help-block"
      *ngIf="userInfoForm.get('email')?.touched && userInfoForm.get('email')?.errors?.['required'] "
      >*email is required!</p
    >
    <p
      class="help-block"
      *ngIf="userInfoForm.get('email')?.touched && userInfoForm.get('email')?.errors?.['email'] "
      >*email isn't valid</p
    >
    </div>
    <div class="userInfo-update-btn">
      <button id="resetUserInfo" type="button" (click)="loadUserData()">Reset</button>
      <button id="saveUpdatedUserInfo" type="submit"  >Save</button>
    </div>
  </form>
</div>
