<div id="userInfo_container">
  <form [formGroup]="userInfoForm" (ngSubmit)="onSubmit()"  id="user_info" >
    <div>
      <label class="userInfo-form-item userInfo-label" for="firstname"
        >First Name</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="firstname"
        type="text"
        name="firstname"
        formControlName="firstname"

      />

      <label class="userInfo-form-item userInfo-label" for="lastname"
        >Last Name</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_lastname"
        type="text"
        name="lastname"
        formControlName="lastname"
      />

      <label class="userInfo-form-item userInfo-label" for="username"
        >Username</label
      >
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_username"
        type="text"
        name="username"
        formControlName="username"
      />

      <label class="userInfo-form-item userInfo-label" for="email">Email</label>
      <input
        class="userInfo-form-item userInfo-input"
        id="userInfo_email"
        type="email"
        name="email"
        formControlName="email"
      />
    </div>
    <div class="userInfo-update-btn">
      <button id="resetUserInfo" type="button" (click)="loadUserData()">Reset</button>
      <button id="saveUpdatedUserInfo" type="submit" >Save</button>
    </div>
  </form>
</div>
