<mat-card class="post-wrapper">
  <mat-card-actions align="end" class="edit_btn">
    <button mat-button [matMenuTriggerFor]="edit" class="edit">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-menu #edit="matMenu">
    <button mat-menu-item (click)="onEdit()">Edit</button>
    <button mat-menu-item (click)="onDelete()">Delete</button>
  </mat-menu>
  <mat-card-title
    ><a routerLink="/posts/:id" (click)="onSelected()">{{
      post.title
    }}</a></mat-card-title
  >
  <mat-card-subtitle>
    <h2>{{ post.author }}</h2>
  </mat-card-subtitle>
  <mat-card-content>
    {{ post.content }}
  </mat-card-content>

  <mat-card-actions align="end">
      <p>comments:</p>

      <button mat-button>Like 5</button>
      <button mat-button>Dislike  5</button>

  </mat-card-actions>
  <div class="date">
    <p>{{ "10.02.2022 17:36" }}</p>
  </div>
  <!-- <app-post-detail *ngIf="postSelected"></app-post-detail> -->
</mat-card>
<br />
