.post-wrapper {
  margin: 0 auto;
  margin-bottom: 5px;
}

.mat-card-actions {
  margin: 0;
  padding: 0;
}

.edit_btn {
  float: right;
}

.mat-card-title {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.mat-card-subtitle h2 {
  font-size: 16px;
}


.date p {
  font-size: 10px;
}
