<mat-card class="post-wrapper">
  <mat-card-actions align="end" class="edit_btn" *ngIf="userId == post.userId">
    <button mat-button [matMenuTriggerFor]="edit" class="edit">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-menu #edit="matMenu">
    <button mat-menu-item (click)="onEdit()">Edit</button>
    <button mat-menu-item (click)="onDelete()">Delete</button>
  </mat-menu>
  <mat-card-title
    ><a [routerLink]="['/posts/', post.id]">{{ post.title }}</a></mat-card-title
  >
  <mat-card-subtitle>
    <h2>{{ post.user?.username }}</h2>
  </mat-card-subtitle>
  <mat-card-content>
    {{ post.content }}
  </mat-card-content>
  <hr />
  <mat-card-actions align="end">
    <div class="btn_wrapper">
      <button

        #ref
        mat-button
        [disabled]="liked ? true : liked == null ? false : false"
        (click)="onReactionClicked(true)"
      >
        Like {{ numOfLikes }}
      </button>

      <button

        #ref1
        mat-button
        [disabled]="liked ? false : liked == null ? false : true"
        (click)="onReactionClicked(false)"
      >
        Dislike {{ numOfDislikes }}
      </button>
    </div>
    <div class="comment">
      <p>
        comments:{{
          post.comments == null || post.comments == undefined
            ? "0"
            : post.comments.length
        }}
      </p>
    </div>
  </mat-card-actions>
  <div class="date">
    <p>{{ post.date }}</p>
  </div>
</mat-card>
<br />
