.post-wrapper {
  margin: 0 auto;
  margin-bottom: 5px;
}

.mat-card-actions {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
.clicked{
  background-color: mediumseagreen;
}

.comment, .comment p {
  display: flex;
  margin: 0 8px;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.edit_btn {
  float: right;
}

.mat-card-title {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.mat-card-subtitle h2 {
  font-size: 16px;
}


.date p {
  font-size: 10px;
}
