<div class="auth-page_container">
  <div class="auth-page_left">
    <img src="/assets/img/logo.png" />
    <h1>Zazamtro</h1>
  </div>
  <div class="auth-page_right">
    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <h2>Sign In</h2>
      <span class="help-block" *ngIf="error">
        {{ error }}
      </span>
      <span
        class="help-block"
        *ngIf="loginForm.get('email')?.errors?.['email'] &&
        loginForm.get('email')?.touched"
        >*email isn't valid</span
      >
      <input
        class="input-item"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <!-- <span class="help-block">email isn't valid</span> -->
      <input
        class="input-item"
        type="password"
        placeholder="password"
        formControlName="password"
      />
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
      <p>
        Don't Have an Account?
        <a routerLink="/registration">Sign Up!</a>
      </p>
    </form>
  </div>
</div>
