.container {
  width: 80%;
  margin: 0 auto;

}
.post-wrapper{
  margin-top: 2em;
  margin-bottom: 1em;
}
.mat-form-field {
  width: 100%;
}

.comment {
    background-color: rgba(111, 173, 139, 0.623);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.comment_author{
  margin-bottom: 5px;
}
