<div class="comments">
  <form class="comment_form">
    <input
      class="comment_input"
      type="text"
      placeholder="Leave a comment..."
    />
  </form>
  <div class="comment">
    <h3 class="comment_author">Eka Jikia</h3>
    <p class="comment_content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      qui minima quia enim delectus
    </p>
  </div>
  <div class="comment">
    <h3 class="comment_author">Eka Jikia</h3>
    <p class="comment_content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      qui minima quia enim delectus
    </p>
  </div>
  <div class="comment">
    <h3 class="comment_author">Eka Jikia</h3>
    <p class="comment_content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      qui minima quia enim delectus
    </p>
  </div>
</div>

