<app-filter></app-filter>
<div class="card-wrapper">
    <mat-card class="post-wrapper">
    <mat-card-title><a>gggggggg</a></mat-card-title>
    <mat-card-subtitle>
      <h2>avtori</h2>
    </mat-card-subtitle>
    <mat-card-content>
      <p>members: 30</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Join</button>
      <button mat-button>Leave</button>
      <button mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <!-- <app-post-detail *ngIf="postSelected"></app-post-detail> -->
  </mat-card>
  <mat-card class="post-wrapper">
    <mat-card-title><a>gggggggg</a></mat-card-title>
    <mat-card-subtitle>
      <h2>avtori</h2>
    </mat-card-subtitle>
    <mat-card-content>
      <p>members: 30</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Join</button>
      <button mat-button>Leave</button>
      <button mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <!-- <app-post-detail *ngIf="postSelected"></app-post-detail> -->
  </mat-card>
  <mat-card class="post-wrapper">
    <mat-card-title><a>gggggggg</a></mat-card-title>
    <mat-card-subtitle>
      <h2>avtori</h2>
    </mat-card-subtitle>
    <mat-card-content>
      <p>members: 30</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Join</button>
      <button mat-button>Leave</button>
      <button mat-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
    <!-- <app-post-detail *ngIf="postSelected"></app-post-detail> -->
  </mat-card>
</div>
