
.group_actions {
  max-width: 200px;
  overflow: auto;
  background-color:#5b24bb8f;
}


.list{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.actions{
  margin-bottom: 20px;
}
