
.group_actions {
  max-width: 200px;
  overflow: auto;
  background-color: rgba(60, 179, 114, 0.514);
}


.list{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.actions{
  margin-bottom: 20px;
}
