<div class="groups-list">
  <h2>My Groups</h2>
  <ul>
    <a href=""><li>group item 1</li></a>
    <a href=""><li>group item 1</li></a>
    <a href=""><li>group item 1</li></a>
    <a href=""><li>group item 1</li></a>
  </ul>
  <div class="group-dialog-wrapper">
    <div class="groupbtn_wrapper">
      <button class="create_group" mat-button (click)="openDialog()">
        create group
      </button>
    </div>
    <button class="search_group" mat-button routerLink="/groups">
      search group
    </button>
</div>
