<h1 mat-dialog-title>Create Post</h1>
<form
  class="example-form"
  [formGroup]="postForm"
  (ngSubmit)="submitForm()"
>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="insert post title..."
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> post content</mat-label>
    <textarea
      matInput
      placeholder="type here..."
      formControlName="content"
    ></textarea>
  </mat-form-field>
  <div mat-dialog-actions align="end">
    <button
      *ngIf="!isEditMode"
      type="submit"
      mat-button
      matDialogClose="yes"
      [disabled]="!postForm.valid"
    >
      Post
    </button>
    <button
      *ngIf="isEditMode"
      type="submit"
      mat-button
      matDialogClose="yes"
      [disabled]="!postForm.valid"
    >
      Update
    </button>
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
  </div>
</form>
